*{
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background:#508D4E;
    transition: all 0.3s ease;
    z-index: 1000;
    padding-top: 20px;
}
/* 
.sidebar:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3), -8px -8px 16px rgba(255, 255, 255, 0.5);
} */

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;

}
span{
    font-size: 50px;
}

.sidebar a:hover {
    background-color: #e4f6de;
    color: rgb(13, 12, 12);
}

.sidebar a.active {
    background-color: #dff8d7;
    color: #000000;
}

.logo h5 {
    margin-left: 60px;
    color: #f2f2f2;
    margin-top: -35px;
}

.box {
    height: auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px 60px 10px 10px;
    margin: 0 0 0 200px;
    width: auto;
    background-color: #e4f6de;
    border: none;
}

.box li {
    font-family: cursive;
}

.box li a {
    color: black;
}

.box li a:hover {
    background-color: #ebe5e5;
}

.cons {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    margin: 0 0 5px 120px;
    border-radius: 8px;
    max-width: 900px;
}

.cons li {
    text-decoration: none;
}

.pt {
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 160px;
    margin-left: 150px;
}

.pt img {
    height: 60px;
    width: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 2px solid rgb(41, 38, 38);
}

.pt .profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pt .profile-container img {
    margin-bottom: -10px;
}

.pt button {
    background-color: #508d4edc;
    border: 0.5px solid rgb(179, 175, 175);
    padding: 0;
    border-radius: 20px;
    width: 100%;  /* Make the button responsive to the container */
    max-width: 700px;  /* Set the maximum width */
    height: 50px;
    margin: 15px 0 0 0;
}


.pt button:hover {
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
}

.pt button a {
    padding: 2px;
    color: black;
}

a.buttonC{
    max-width: 700px;
    width: 100%;
}
button.btn {
    margin-top: -20px;
}

.post-content {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-container {
    border: 2px solid lightgray;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    word-wrap: break-word;
    word-break: break-all;
}

.title {
    color: black; 
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
}

.title a {
    color: black; 
    text-decoration: none; 
}

.title a:hover {
    color: #00000093; 
}

span{
    font-size: 10px;
}

