html,body{
    background-color: #dff8d7;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background:#508D4E;
    transition: all 0.3s ease;
    z-index: 1000;
    padding-top: 20px;
    margin: -20px 0 0 -20px;
}
/* 
.sidebar:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3), -8px -8px 16px rgba(255, 255, 255, 0.5);
} */

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;

}

.sidebar a:hover {
    background-color: #e4f6de;
    color: rgb(13, 12, 12);
}

.sidebar a.active {
    background-color: #dff8d7;
    color: #000000;
}

.logo h5 {
    margin-left: 60px;
    color: #f2f2f2;
    margin-top: -35px;
}

a span.navlink {
    font-size: 20px;
}

span{
    font-size: 10px;
}

.profile-container-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -60px;
    box-shadow: 0px 0px 3px #03981e, /* Darker shade from the sidebar */
                0px 0px 0px 5px #22943c, /* Lighter shade from the sidebar */
                8px 8px 15px rgba(3, 92, 23, 0.942), /* Softer version of the lighter shade */
                -8px -8px 15px rgba(3, 152, 30, 0.563); /* Softer version of the darker shade */
}
.user-info{
    margin-top: 4px;
}
.user-info .user-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.post-container {
    max-width: 600px;
    margin: 120px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}
h1 {
    font-size: 24px;
    margin-bottom: 5px;
}
small {
    color: #666;
}
hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ddd;
}
.post-body {
    line-height: 1.6;
    padding: 15px;
    padding-bottom: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.back-button {
    display: inline-block;
    padding: 8px 16px;
   
    color: #6d6a6a;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 200px;
}
.back-button:hover {
    background-color: #cbcfd1;
    color: black;
    font-weight: 800;
}
    /* Custom Dropdown Styles */
.dropdown-menu {
    color: black; /* Font color */
    background-color: #4CAF50; /* Background color */
    
}

.dropdown-menu a:hover {
    background-color: #8BC34A; /* Hover background color */
}

.dropdown button
{
    background-color: #316cff;
    margin-left: 15px;
    padding-right:45px;
    display: none;
}

.dropdown button:hover
{
    background-color: #002b97;
}